<div class="well">
  <div class="row">
    <div class="col-md-12"><h4 class="text-center">Free Digital Logbook for Excel, Google Sheets, Numbers, and Open Office</h4></div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="popup-gallery">
      <a href="/resources/img/handouts/logbook.png">
        <div class="thumbnail">
          <img src="resources/img/handouts/logbook_tn.png" alt="logbook screenshot">
          <div class="caption">
            <p class="text-center"><strong>View Screenshot</strong></p>
          </div>
        </div>
      </a>
    </div><!-- /popup-gallery -->
    </div><!-- /col-md-3 -->
    <div class="col-md-9">
      <p>Features:
        <ul>
          <li>Sortable columns (sort function does not work in Numbers version)</li>
          <li>Automatic IACRA/FAA 8710 output</li>
          <li>Pilot currency check, calculates number of days remaining for flight reviews, SFAR flight reviews, CFI expiration, medical certificate, and solo endorsements.</li>
          <li>Extra columns, fully editable</li>
        </ul>
      </p>
      <p>Google Sheets is recommended for automatic cloud sync, and ability to use from any computer with internet.
        <br>To use with Google Sheets, click the button below, then select <span class="popup-gallery"><a href="resources/img/handouts/instructions.png" alt="logbook instructions">File>Make a copy...</a></span></p>
        <p>
          <a href="https://docs.google.com/spreadsheets/d/1ER1eJLsl5Me9ZJg1MKREBhCGXTDF74lXslXOleLfVgA/edit?usp=sharing" class="btnlink" target="_blank"><button class="btn btn-default" type="submit">Google Sheets (.gsheet)</button></a>
          <a href="https://drive.google.com/open?id=0Bx8ifa-Fjf7GN1EweldWcnpCSlk" class="btnlink" target="_blank"><button class="btn btn-default" type="submit" target="_blank">Excel (.xlsx)</button></a>
          <a href="https://drive.google.com/open?id=0Bx8ifa-Fjf7GYm9ueFlLN2YwYXM" class="btnlink" target="_blank"><button class="btn btn-default" type="submit" target="_blank">Numbers (.numbers)</button></a>
          <a href="https://drive.google.com/open?id=0Bx8ifa-Fjf7Gc2NlQUJXcnlVd3M" class="btnlink" target="_blank" ><button class="btn btn-default" type="submit" target="_blank">Open Office (.ods)</button></a>
        </p>
      </div><!-- /col-md-9 -->
    </div><!-- /row -->
  </div><!-- /well -->
