<div class="row">
  <div class="col-md-12"><h4 class="text-center">Inoperative Equipment</h4></div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="popup-gallery">
    <a href="/resources/img/handouts/airspace.png">
      <div class="thumbnail">
        <img src="resources/img/handouts/airspace_tn.png" alt="logbook screenshot">
        <div class="caption">
          <p class="text-center"><strong>View Sample</strong></p>
        </div>
      </div>
    </a>
  </div><!-- /popup-gallery -->
  </div><!-- /col-md-3 -->
  <div class="col-md-9">
    <p>Features symptoms, effects, causes, and corrective actions of each aeromedical factor as listed in the practical test standards.</p>
      <p>
        <a href="#" class="btnlink" target="_blank"><button class="btn btn-default" type="submit">Download .pdf</button></a>
      </p>
    </div><!-- /col-md-9 -->
  </div><!-- /row -->
