<div class="row">
  <div class="col-md-12"><h4 class="text-center">Helicopter Endorsement Guide</h4></div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="popup-gallery">
    <a href="/resources/img/handouts/endorsementguide.png">
      <div class="thumbnail">
        <img src="resources/img/handouts/endorsementguide_tn.png" alt="logbook screenshot">
        <div class="caption">
          <p class="text-center"><strong>View Sample</strong></p>
        </div>
      </div>
    </a>
  </div><!-- /popup-gallery -->
  </div><!-- /col-md-3 -->
  <div class="col-md-9">
    <p>Especially built with Robinson instructors in mind, contains a list and references to all the usual endorsements used from day 1 to certified flight instructor - instrument.</p>
      <p>
        <a href="/resources/docs/handouts/helicopterendorsementguide.pdf" class="btnlink" target="_blank"><button class="btn btn-default" type="submit">Download .pdf</button></a>
      </p>
    </div><!-- /col-md-9 -->
  </div><!-- /row -->
