<div class="row">
  <div class="col-md-12"><h4 class="text-center">IACRA Guide</h4></div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="popup-gallery">
    <a href="/resources/img/handouts/iacraguide.png">
      <div class="thumbnail">
        <img src="resources/img/handouts/iacraguide_tn.png" alt="logbook screenshot">
        <div class="caption">
          <p class="text-center"><strong>View Sample</strong></p>
        </div>
      </div>
    </a>
  </div><!-- /popup-gallery -->
  </div><!-- /col-md-3 -->
  <div class="col-md-9">
    <p>Instructions for the CFI on the process of using IACRA. Includes aircraft IDs used during the application.</p>
      <p>
        <a href="/resources/docs/handouts/iacraguide.pdf" class="btnlink" target="_blank"><button class="btn btn-default" type="submit">Download .pdf</button></a>
      </p>
    </div><!-- /col-md-9 -->
  </div><!-- /row -->
